
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1525942162101'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1525942162101#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.ttf?t=1525942162101') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1525942162101#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:14px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic-bag:before { content: "\e6e9"; }

.icon-jian:before { content: "\e794"; }

.icon-jia:before { content: "\e795"; }

.icon-guanbi:before { content: "\e796"; }

.icon-zhengque:before { content: "\e797"; }

.icon-zuobian:before { content: "\e799"; }

.icon-youbian:before { content: "\e79a"; }

.icon-zuojiantou:before { content: "\e79b"; }

.icon-youjiantou:before { content: "\e79c"; }

.icon-fenxiang-filled:before { content: "\e7a3"; }

.icon-fenxiang:before { content: "\e7a4"; }

.icon-tucao-tianchong:before { content: "\e7a6"; }

.icon-tucao:before { content: "\e7a7"; }

.icon-dianzan-tianchong:before { content: "\e7a8"; }

.icon-dianzan:before { content: "\e7a9"; }

.icon-xihuan-tianchong:before { content: "\e7aa"; }

.icon-xihuan:before { content: "\e7ab"; }

.icon-sousuo:before { content: "\e7b1"; }

.icon-xunhuan:before { content: "\e7b2"; }

.icon-zhongxinjiazai:before { content: "\e7b4"; }

.icon-jinggao-yuan:before { content: "\e7cb"; }

.icon-yuyin:before { content: "\e7e1"; }

.icon-weizhi:before { content: "\e7e0"; }

