// 颜色定义规范
$color-theme:#007ddf;
$color-theme-d:rgba(255, 205, 49, 0.5);
$color-sub-theme:#d93f30;
$color-line-s: #f3f3f3;
$color-line: #eee;
$color-line-d: #ddd;

$color-title:#141414;
$color-text:#777;
$color-gray:#aaa;

//字体定义规范
$font-size-s-s:0.18rem;
$font-size-s:0.24rem;
$font-size-m:0.28rem;
$font-size-m-x:0.32rem;
$font-size-l:0.36rem;
$font-size-l-x:0.44rem;
